<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">

body {
	color: white;
}

.mk-name {
	font-size: 5em;
	margin-top: 3em;
	display: inline-block;
    color: #ffffff;
}

#mk-tagline {
	display: block;
    font-family: 'Space Mono', monospace;
     font-weight: bold;
    color: #ffffff;
}

.row-margin {
	max-width: 80%;
	margin-left: 10%;
	padding-bottom: 40px;
    
}

.space-bg {

	padding-bottom: 7em;
}

.sbg {
		background-image: url("b2.png");
	background-repeat: repeat;
    background-position: top center;
    background-size: 100%;
}

.mwzero {
	max-width: none;
}

.image-hero {
	margin-left: 40%;
	margin-top: 25%;
}
nav {
/*    margin-left: 10em ;*/
/*    margin-right: 10em ;*/
    color: white
    
}

.navbar {
/*	background-color: rgba(51, 51, 51, .28);*/
    background-color: black;
/*	border-bottom: 1px solid #333;*/
}

/*
.navbar-brand {
	margin-left: 10%;
    width: 25px;
}
*/
#logo {
/*    background-image: url("logo.png");*/
    
    width: 70px ;
    margin-left: 100%;
/*    margin-left: 5em;*/
/*    height: 50px;*/
/*    border: 1px solid red ;*/
}

.navbar-nav {
	margin-left: 47.5%;
}

@keyframes floating {
	0% {transform: translatey(-20px) rotate(-2deg);}
	50% {transform: translatey(0px) rotate(3deg); }
	100% {transform: translatey(-20px) rotate(-2deg);}
}

.float {
	animation-timing-function: ease-in-out;
	animation-name: floating;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

.foldbottom {
	height: 180px;
	background: url("break.png");
    background-size: 100%;
	background-repeat: repeat-x;
    
}

.whitebg {
	background-color: #ffffff;
	color: #333;

}
.nav-item {
    padding: 5px;
    padding-right: 50px;
    padding-left: 0px;
    color: #ffffff;
/*    text-shadow: 0 0 8px rgba(0, 0, 0, 0.66);*/
}

a.nav-link { color: #ffffff;}

div.gallery {
    margin-top: 30px;
/*    border: 1px solid #ccc;*/
    float: left;
    width: 100%;
}

div.gallery:hover {
/*    border: 1px solid #777;*/
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
/*    padding: 15px;*/
    text-align: center;
}

p {font-family: 'Space Mono', monospace;
 color: #000000;
font-size: 16px;}


h4.whatever {font-family: 'Space Mono', monospace;
 color: #ffffff;
/* font-weight: bold;*/
font-size: 16px;}

h3 {
    font-family: 'Space Mono', monospace;
 color: #ffffff;
/*font-weight: bold;*/
font-size: 16px;}